{% form_theme form.schedule '@SetonoSyliusStockMovementPlugin/Admin/Form/theme.html.twig' %}

<div class="ui segment">
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.template) }}

    {{ form_row(form.schedule) }}
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'setono_sylius_stock_movement.ui.transports_and_filters'|trans }}</h4>

    <div class="ui two column stackable grid">
        <div class="column" id="transports">
            {{ form_row(form.transports) }}
        </div>
        <div class="column" id="filters">
            {{ form_row(form.filters) }}
        </div>
    </div>
</div>
